.waterLevel {
	position: absolute;
	height: 50%;  /*based on humidity reading*/
	width: 100%;
	background: #93f1fb;
	bottom: 21%; 
	-webkit-clip-path: polygon(0% 25%, 13% 15%, 26% 24%, 33% 15%, 42% 25%, 55% 14%, 64% 25%, 75% 14%, 84% 25%, 100% 14%, 99% 99%, 0% 99%);
clip-path: polygon(0% 25%, 13% 15%, 26% 24%, 33% 15%, 42% 25%, 55% 14%, 64% 25%, 75% 14%, 84% 25%, 100% 14%, 99% 99%, 0% 99%);


}
